
h6{
    font-size: 30px;
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

p{
    font-size: 15px;
    display: flex;
    justify-content: space-around;
    padding: 10px;
}